form {
    padding: 24px;
    div {
        margin-bottom: 20px;
    }
    input.ng-dirty.ng-invalid {
        border: 1px solid red !important;
    }
}
.dialog-header {
    background: black;
    color: white;
    height: 30px;
    display: table;
    width: 100%;
    position: relative;
    .dialog-header-text {
        display: table-cell;
        padding: 10px;
        font-size: 18px;
        vertical-align: middle
    }
}
.mat-icon-button {
    line-height: unset !important;
    height: unset !important;
}