<div class="dialog-header">
    <div class="dialog-header-text">
            {{ formHeaderType }}
    </div>
</div>
<form class="insuranceForm" [formGroup]="insuranceForm" (ngSubmit)="onSubmit()">
    <div *ngIf="this.dialogData.type == 'create'">
        <div class="label-div">
                <label for="policyNumber">policy number: </label>
        </div>
        <input id="policyNumber" type="number" formControlName="policyNumber" required>
    </div>
    
    <div>
        <div class="label-div">
                <label for="policyStartDate">policy start date: </label>
        </div>
        
        <input id="policyStartDate" formControlName="policyStartDate" required [matDatepicker]="basicDatepicker">
        <mat-datepicker-toggle [for]="basicDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #basicDatepicker></mat-datepicker>
    </div>
    
    <div>
        <div class="label-div">
                <label for="policyEndDate">policy end date: </label>
        </div>
        
        <input id="policyEndDate" formControlName="policyEndDate" required [matDatepicker]="basicDatepicker1">
        <mat-datepicker-toggle [for]="basicDatepicker1"></mat-datepicker-toggle>
        <mat-datepicker #basicDatepicker1></mat-datepicker>
    </div>
    
    <div>
        <div class="label-div">
                <label for="policyDescriptions">policy descriptions: </label>
        </div>
        
        <input id="policyDescriptions" type="text" formControlName="policyDescriptions" pattern="^[ A-Za-z0-9_@./#&+-]*$" required>
    </div>
    
    <div>
        <div class="label-div">
                <label for="customerFirstName">customer firstName: </label>
        </div>
        
        <input id="customerFirstName" type="text" formControlName="customerFirstName" pattern="[A-Za-z]+" required>
    </div>
    
    <div>
        <div class="label-div">
                <label for="customerSurname">customer surname: </label>
        </div>
        
        <input id="customerSurname" type="text" formControlName="customerSurname" pattern="[A-Za-z]+" required>
    </div>
    
    <div>
        <div class="label-div">
                <label for="customerDateOfBirth">customer date of birth: </label>
        </div>
    
        <input id="customerDateOfBirth" type="text" formControlName="customerDateOfBirth" required [matDatepicker]="basicDatepicker2">
        <mat-datepicker-toggle [for]="basicDatepicker2"></mat-datepicker-toggle>
        <mat-datepicker #basicDatepicker2></mat-datepicker>
    </div>

    <div class="no-margin" style="text-align:center;">
            <button class="prime-button no-margin" type="submit" [disabled]="!insuranceForm.valid">Submit</button>
    </div>
    

</form>

