
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$goreMutual-primary: mat.define-palette(mat.$indigo-palette);
$goreMutual-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$goreMutual-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$goreMutual-theme: mat.define-light-theme((
  color: (
    primary: $goreMutual-primary,
    accent: $goreMutual-accent,
    warn: $goreMutual-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($goreMutual-theme);

/* You can add global styles to this file, and also import other style files */
html, body {
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-dialog-container {
  padding: 0 !important;
}
.mat-icon-button {
  line-height: unset !important;
  height: unset !important;
}
.prime-button {
  margin: 10px;
  padding: 7px;
  border-radius: 6px;
  border: 1px solid;
  background: black;
  color: white;
  min-width: 100px;
  cursor: pointer;
}
.no-margin {
  margin: 0 !important;
}
button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
table.mat-table {
  box-shadow: 0px 3px 14px 2px rgb(0 0 0 / 12%);
}
.label-div {
  display: inline-block;
  min-width: 150px;
  margin-bottom: 0 !important;
}
