.nav-header {
    background-color: black;
    width: 100%;
    height: 10%;
    position: relative;
    img {
        max-height: 53px;
        top: 0;
        bottom: 0;
        margin: auto;
        position: absolute;
        margin-left: 10px;
    }
}
.body-content {
    height: 90%;
    .right-button {
        text-align: right;
    }
    .empty-msg-box {
        margin: 30px;
        text-align: center;
        .warning-msg {
            display: block;
            font-weight: bold;
            padding: 10px;
            font-size: 18px;
        }
    }
}
table {
    width: 100%;
}