<header class="nav-header">
    <img class="retina-logo" src="https://dev-goremutual.pantheonsite.io/wp-content/uploads/2020/01/Goremutual_Logo.png" alt="Gore Mutual Insurance">
</header>
<div class="body-content">
    <!-- Welcome to Gore Mutual -->
    <div *ngIf="users.length > 0" class="right-button">
        <button (click)="createInsurance();" class="prime-button">
            Create
        </button>
    </div>

    <table *ngIf="users.length > 0" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          
            
            <ng-container matColumnDef="policynumber">
              <th mat-header-cell *matHeaderCellDef> Policy Number </th>
              <td mat-cell *matCellDef="let element"> {{element.policynumber}} </td>
            </ng-container>

            <ng-container matColumnDef="policystartdate">
                <th mat-header-cell *matHeaderCellDef> Policy Start Date </th>
                <td mat-cell *matCellDef="let element"> {{element.policystartdate | date}} </td>
            </ng-container>

            <ng-container matColumnDef="policyenddate">
                <th mat-header-cell *matHeaderCellDef> Policy End Date </th>
                <td mat-cell *matCellDef="let element"> {{element.policyenddate | date}} </td>
            </ng-container>

            <ng-container matColumnDef="policydescriptions">
                <th mat-header-cell *matHeaderCellDef> Policy Description </th>
                <td mat-cell *matCellDef="let element"> {{element.policydescriptions}} </td>
            </ng-container>

            <ng-container matColumnDef="customerfirstname">
                <th mat-header-cell *matHeaderCellDef> Customer Firstname </th>
                <td mat-cell *matCellDef="let element"> {{element.customerfirstname}} </td>
            </ng-container>

            <ng-container matColumnDef="customersurname">
                <th mat-header-cell *matHeaderCellDef> Customer Surname </th>
                <td mat-cell *matCellDef="let element"> {{element.customersurname}} </td>
            </ng-container>

            <ng-container matColumnDef="customerdateofbirth">
                <th mat-header-cell *matHeaderCellDef> Customer dateofbirth </th>
                <td mat-cell *matCellDef="let element"> {{element.customerdateofbirth | date}} </td>
            </ng-container>
    
            <ng-container matColumnDef="actionsColumn">
                <mat-header-cell style="vertical-align: middle;
                display: table-cell; border-bottom: 1px solid rgba(0, 0, 0, 0.12);" *matHeaderCellDef>
                    Actions
                </mat-header-cell>
                <mat-cell style="vertical-align: middle;
                display: table-cell; border-bottom: 1px solid rgba(0, 0, 0, 0.12);" *matCellDef="let row">
                    <button (click)="editInsurance(row);" style="margin-right:5px;" >Edit</button>
                    <button (click)="deleteInsurance(row.policynumber);" >Delete</button>
                </mat-cell>
            </ng-container>
          
           
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
          

    <div *ngIf="users.length == 0" class="empty-msg-box">
        <span class="warning-msg">You do not have any insurance policies to display here.</span>
        Please create an insurance policy by clicking on the Create button.
        <button (click)="createInsurance();" class="prime-button">
            Create
        </button>
    </div>
</div>